.post-nav{
  border:0;
}
.pagination{
  border:0;
  .page-number{
    border-color:'';
    color:#000;
    &.current{
      color:#000;
    }
  }
}
#mytab > ul > li:nth-child(6) > a::after{
  background-color:#ffffff00;
}

.posts-expand .post-tags a{
  background:#dcdada;
}
body > main > div.main-inner.post.posts-expand > div > article > div > p:nth-child(1) {
  text-align:center;
}

.column{
  background:#e9e8e8;
}

.post-button .btn{
  border:0;
}

.post-body a{
  //border-bottom: 1px solid $link-decoration-color;
  //color: var(--link-color);
  // For a:not(:any-link)
  color:#3a5983;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  position:relative
  word-wrap();

  &:hover {
    border-bottom-color: var(--link-hover-color);
    color: var(--link-hover-color);
  }
  &::after{
    content: '';
    width: 100%;
    height: 10%;
    display: inline-block;
    position: absolute;
    background-color: #008aff;
    opacity: 20%;
    bottom: 25%;
    left: 0;
    transition: height 0.3s; 
  }
  &:hover::after{
    height:60%;
  }
}



.post-button a{
  //border-bottom: 1px solid $link-decoration-color;
  color: var(--link-color);
  // For a:not(:any-link)
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  word-wrap();

  &:hover {
    border-bottom-color: var(--link-hover-color);
    color: var(--link-hover-color);
  }
}
.post-body h2{
    font-size: 1.375em;
    border-bottom: 1px solid;
    border-color: #d7d3d3;
}

h3::before {
    content: '###';
    margin: 5px;
    color: #4783b7;
}

h4::before {
    content: '####';
    margin: 5px;
    color: #4783b7;
}

h5::before {
    content: '#####';
    margin: 5px;
    color: #4783b7;
}

h6::before {
    content: '######';
    margin: 5px;
    color: #4783b7;
}

footer{
  display:none;
}

@counter-style repeating-emoji {
  system: cyclic;
  symbols: "\1F4CD"; // unicode code point
  suffix: " ";
}
@font-face {
  font-family: Pingfun;
  src: url(/images/Pingfun.woff);
}
.post-body {
//font-family: 'Pingfun', sans-serif;
text-align:start;
font-size: 1rem;
font-weight: 500;
}

code{
  padding :0,1rem,0,1rem;
  background-color: #d5d5d5;
  color:#eb3f3f;
  font-weight: 500;

}

.note ul {
  list-style: disc; 
  padding-left: 1rem;
}
ul {
  list-style: disc; 
}

.note li  {
  //margin:0.5rem;
    //list-style: repeating-emoji; 
  }
// .note li::before {
//     content: "";
//     position: absolute;
//     width: 8px;
//     height: 8px;
//     background: #c9ced1;
//     border-radius: 50%;
//     left: -1rem;
//     top: 1rem;
//   }
  .highlight-container , .highlight,.table-container{
    //background-color: #282c34;
    border-radius: 0.5rem;
    
    }
.highlight .code pre {
    //background: #282c34;
    padding-left: 1rem;
    width: 100%;
}
@media screen and (min-width:1200px) {

    body {  
    //background-image:url(/images/20230228_155443.jpg); //這邊修改成你的背景圖片 
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: cover;
   
   }

    #footer a {
        color:#eee;
    }
}



//###### 博客内容透明化 ######

/*
:root {
  //--content-bg-color:rgba(255, 255, 255, 0.97);
  //--body-bg-color:rgba(255, 255, 255, 0)
}
*/
// 主页文章添加阴影效果
.post-block{
  //border: 1px solid rgb(239, 239, 239)
  margin-top:1rem;
  padding: 0;
  border-radius: 10px
  
}
.affix-top{
  border-radius: 10px;
  }
  body{
    color:rgb(63, 63, 63);
  }
.copyright,.powered-by{
display:none
}
